<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.boost">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/mainScreen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QueryResultsScreen"
            android:label="@string/results" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_color_settings">
        </activity>

    </application>

</manifest>